 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// ОБЩИЕ СТИЛИ

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: #E1D4C9;
    margin: 0;
    font-family: Inter;
    box-sizing: border-box;

}

.container {
    max-width: 1360px;
    margin: 0 auto;
}

span {
        font-style: italic;
        color: #B0907A;
}

p {
    font-weight: 400;
    font-size: 16px;
    color: #403F3D;
    margin: 0;
    line-height: 150%;

}

h1, h2 {
    font-weight: 600;
    font-size: 60px;
    color: #403F3D;
    margin: 0;
}

h4 {
    font-size: 24px;
    font-weight: 600;
    color: #403F3D;
    margin: 0;

}

a {
    color: #403F3D;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.5s ease;
}



// HEADER

.header {
margin: 2rem 4.2%;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


.logo {
    cursor: pointer;
}

nav {
    display: flex;
    gap: 4rem;
}

.coffee__menu {
  position: relative;
  display: inline-block;

  .menu__btn {
    padding: 1rem 2rem;
  }
}

.coffee__menu__phone {
    display: none;
    color: #403F3D;
}


.coffee__menu__logo {
  position: absolute;
  transform: translateX(-29px) translateY(-12px); 
  pointer-events: none; 
  padding: 1rem;
  transition: all 0.3s ease;
}

.menu__btn--active {
    position: absolute;
    transform: translateX(21px) translateY(2px);
    width: 6rem;
    border: 1px solid #403F3D;
}



// MAIN

.menu {
    margin: 2rem 4rem 10rem 4rem;
}



.menu__info {
    height: 236px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu__title {
    width: 800px;
    text-align: center;
}

.menu__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    img {
        width: 16px;
        height: 24px;
    }
    p {
        font-weight: 600;
    }
}

.btn {
    height: 46px;
    border: 1px solid #C1B6AD;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: all 0.5s ease;
    cursor: pointer;
    
}


.btn:hover {
    background-color: #665F55;

    .icon {
        background-color: #E1D4C9;
    }

    p {
        color: #E1D4C9;
    }
}

.btn--active {
    background-color: #665F55;

    p {
        color: #E1D4C9; 
    }

    .icon {
        background-color: #E1D4C9;
    }
}

.body__coffee {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: #C1B6AD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body__tea {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: #C1B6AD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body__dessert {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: #C1B6AD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__title {
    padding: 0 0 0 8px;
}

.coffee {
    width: 115px;
}

.tea {
    width: 90px;
}

.dessert {
    width: 124px;
}


// CARDS


.menu__cards {
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(auto-fit, 310px);
    margin: 4rem 0 0 0;
    justify-content: space-around;
}

.card__coffee {
    border-radius: 4rem;
    height: 50rem;
    width: 31rem;
    border: 1px solid #C1B6AD;
    display: flex;
    flex-direction: column;
    display: none;
}

.card__tea {
    border-radius: 4rem;
    height: 50rem;
    width: 31rem;
    border: 1px solid #C1B6AD;
    display: flex;
    flex-direction: column;
    display: none;
}

.card__dessert {
    border-radius: 4rem;
    height: 50rem;
    width: 31rem;
    border: 1px solid #C1B6AD;
    display: flex;
    flex-direction: column;
    // display: none;
}
.card__photo {
    width: 100%;
    height: 31rem;
    border-radius: 4rem;
    overflow: hidden;
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(1.2);
    transition: all 1s ease;
}

.photo:hover {
    transform: scale(1.1);
}

.card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15rem;
    padding: 2rem;
}

// FOOTER

.footer {
    margin: 0 3.8% 4rem 3.8%;

    h2 {
        color: #E1D4C9;
    }

    h4 {
        color: #E1D4C9;
    }

    p {
        color: #E1D4C9;
    }
}

.footer__body {
    background-color: #665F55;
    border-radius: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 45rem;
}

.footer__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.footer__wrapper__info {
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.footer__btns {
    width: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__btn {
    border: 1px solid #C1B6AD;
    border-radius: 10rem;
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 1s ease;
    svg {
        color: #E1D4C9;

    }
}

.footer__btn:hover {
    background-color: #E1D4C9;

    svg {
        color: #403F3D;
    }
    
}

.footer__wrapper__contacts {
    height: 18.6rem;
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

}

.contact__title {
    display: flex;
    justify-content: start;
    align-items: center;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 26.2rem;
    height: 11.6rem;

    p {
        margin: 0 0 0 0.8rem;
    }
}

.contact {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    transition: all 0.5s ease;
    cursor: pointer;
}


.border {
    border: 2px solid #E1D4C9;
    pointer-events: none;
}

.border__tag {
    position: absolute;
    width: 17rem;
    transform: translateX(2px) translateY(4px);
    opacity: 0;
    transition: all 0.5s ease;
}

.contact:hover {
    .border__tag {
        transform: translateX(2px) translateY(15px);
        opacity: 1;
        pointer-events: auto;
    }
  
}

.border__phone {
    position: absolute;
    transform: translateX(2px) translateY(4px);
    width: 16.3rem;
    opacity: 0;
    transition: all 0.5s ease;

}

.contact:hover {
    .border__phone {
        transform: translateX(2px) translateY(15px);
        opacity: 1;
        pointer-events: auto;
    }
  
}

.border__clock {
    position: absolute;
    transform: translateX(2px) translateY(4px);
    width: 25.2rem;
    opacity: 0;
    transition: all 0.5s ease;

}

.contact:hover {
    .border__clock {
        transform: translateX(2px) translateY(15px);
        opacity: 1;
        pointer-events: auto;
    }
  
}

// MEDIA QUERY

// ОБЩИЕ

@media (hover:none) {
    .photo {
        transform: scale(1.1) !important;
    }


    .contact:hover {
        cursor: default;
        .border__tag,
        .border__phone,
        .border__clock {
          transform: translateX(2px) translateY(4px);
          opacity: 0;
          pointer-events: none !important;
        }
    
    }

    .footer__btn:hover {
        background-color: #665F55 !important;

        svg {
            color: #E1D4C9 !important;
        }
    
    }
}




@media (max-width: 787px) {
    h1 {
        font-size: 52px;
    }
}

@media (max-width: 697px) {
    h1 {
        font-size: 52px;
    }
}

@media (max-width: 675px) {
    h2 {
        font-size: 50px;
    }
}

@media (max-width: 655px) {
    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 42px;
    }
}

@media (max-width: 450px) {
    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }
}

@media (max-width: 380px) {
    h1 {
        font-size: 32px;
    }
}

// HEADER

@media (max-width: 768px) {
    .header {

        nav {
            display: none;
        }

        .coffee__menu {
            display: none;
        }

        .coffee__menu__phone {
            width: 44px;
            height: 44px;
            border: 1px solid #665F55;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media (max-width: 380px) {
    .header {
        margin: 20px 16px;
    }
}

// MAIN

@media (max-width: 895px) {
    .menu__title {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .menu__btns {
        gap:  8px;
    }
}



// FOOTER

@media (max-width: 1300px) {
    .footer__body {
        max-width: 1230px;
        
    }
}

@media (max-width: 890px) {

    .footer__body {
        height: 736px;
        
    }
    .footer__wrapper {
        flex-direction: column;
        height: 70%;

    }
    .footer__wrapper__info {
        width: 80%;
        height: 47%;
    }

    .footer__wrapper__contacts {
        width: 80%;
    }
}

@media (max-width: 645px) {
    .footer__body {
        height: 700px;
    }
}
@media (max-width: 515px) {
    .footer__wrapper__info {
        height: 40%;
    }
}

@media (max-width: 380px) {
    .footer {
        margin: 0 16px 40px 16px;
    }
}