@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: #E1D4C9;
  margin: 0;
  font-family: Inter;
  box-sizing: border-box;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

span {
  font-style: italic;
  color: #B0907A;
}

p {
  font-weight: 400;
  font-size: 16px;
  color: #403F3D;
  margin: 0;
  line-height: 150%;
}

h1, h2 {
  font-weight: 600;
  font-size: 60px;
  color: #403F3D;
  margin: 0;
}

h4 {
  font-size: 24px;
  font-weight: 600;
  color: #403F3D;
  margin: 0;
}

a {
  color: #403F3D;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.5s ease;
}

.burger__menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: absolute;
  background-color: #E1D4C9;
  top: 6rem;
  left: 100%;
  z-index: 100;
  width: 100%;
  height: 100vh;
  padding-top: 6rem;
  transition: all 0.5s ease;
}

.burger--active {
  left: 0;
}

.nav {
  height: 34rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
  gap: 6rem;
}
.nav a {
  font-size: 32px;
}

.btn__burger {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__burger p {
  font-size: 32px;
  font-weight: 600;
}

.burger__cup {
  left: 0;
  top: 0;
  width: 4rem;
  height: 4rem;
  margin-left: 1.6rem;
  transform: translate(0, -10%);
}

.header {
  margin: 2rem 4.2%;
  position: relative;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  cursor: pointer;
}

nav {
  display: flex;
  gap: 4rem;
}

.navigation {
  cursor: pointer;
  transition: all 1s ease;
}
.navigation p {
  color: #403F3D;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

.navigation:hover {
  opacity: 0.7;
}

.coffee__menu {
  position: relative;
  display: inline-block;
}
.coffee__menu .menu__btn {
  padding: 1rem 2rem;
}

.coffee__menu__phone {
  display: none;
  color: #403F3D;
}

.coffee__menu__logo {
  position: absolute;
  transform: translateX(-29px) translateY(-12px);
  pointer-events: none;
  padding: 1rem;
  transition: all 0.3s ease;
}

.menu__btn--active {
  position: absolute;
  transform: translateX(21px) translateY(2px);
  width: 6rem;
  border: 1px solid #403F3D;
}

.menu {
  margin: 2rem 4rem 10rem 4rem;
}

.menu__info {
  height: 236px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu__title {
  width: 800px;
  text-align: center;
}

.menu__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.menu__btns img {
  width: 16px;
  height: 24px;
}
.menu__btns p {
  font-weight: 600;
}

.btn {
  height: 46px;
  border: 1px solid #C1B6AD;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.5s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #665F55;
}
.btn:hover .icon {
  background-color: #E1D4C9;
}
.btn:hover p {
  color: #E1D4C9;
}

.btn--active {
  background-color: #665F55;
}
.btn--active p {
  color: #E1D4C9;
}
.btn--active .icon {
  background-color: #E1D4C9;
}

.body__coffee {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: #C1B6AD;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body__tea {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: #C1B6AD;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body__dessert {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: #C1B6AD;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__title {
  padding: 0 0 0 8px;
}

.coffee {
  width: 115px;
}

.tea {
  width: 90px;
}

.dessert {
  width: 124px;
}

.menu__cards {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, 310px);
  margin: 4rem 0 0 0;
  justify-content: space-around;
}

.card__coffee {
  border-radius: 4rem;
  height: 50rem;
  width: 31rem;
  border: 1px solid #C1B6AD;
  display: flex;
  flex-direction: column;
}

.card__tea {
  border-radius: 4rem;
  height: 50rem;
  width: 31rem;
  border: 1px solid #C1B6AD;
  display: flex;
  flex-direction: column;
  display: none;
}

.card__dessert {
  border-radius: 4rem;
  height: 50rem;
  width: 31rem;
  border: 1px solid #C1B6AD;
  display: flex;
  flex-direction: column;
  display: none;
}

.card__photo {
  width: 100%;
  height: 31rem;
  border-radius: 4rem;
  overflow: hidden;
}

.photo {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transform: scale(1.2);
  transition: all 1s ease;
}

.photo:hover {
  transform: scale(1.1);
}

.card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15rem;
  padding: 2rem;
}

.modal--btn--active {
  background-color: #665F55;
}
.modal--btn--active .title {
  background-color: #E1D4C9;
  color: #403F3D;
}
.modal--btn--active .desk {
  color: #E1D4C9;
}

.modal__overlay {
  position: fixed;
  inset: 0;
  background: rgba(64, 63, 61, 0.8);
  z-index: 10;
  display: none;
}

.modal__coffee__one {
  justify-content: space-between;
  align-items: center;
  width: 80rem;
  height: 50rem;
  padding: 1.6rem;
  background-color: #E1D4C9;
  border-radius: 4rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  display: none;
}

.modal__photo {
  width: 31rem;
  height: 31rem;
  border-radius: 4rem;
  overflow: hidden;
}

.modal__info {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 46rem;
}

.modal__card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.modal__desk {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 9rem;
}

.modal__size {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 7.8rem;
  width: 100%;
}

.btns__size {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn__size {
  box-sizing: border-box;
  width: 12rem;
  height: 4.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #C1B6AD;
  border-radius: 10rem;
  padding: 0.8rem 1.6rem 0.8rem 0.8rem;
}
.btn__size p {
  font-weight: 600;
}

.btn__size:nth-child(2) {
  margin: 0 0.8rem 0 0.8rem;
}

.title {
  width: 3rem;
  height: 3rem;
  border-radius: 10rem;
  background-color: #C1B6AD;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__additives {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 7.8rem;
  width: 100%;
}

.btns__additives {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn__additive {
  box-sizing: border-box;
  width: 11rem;
  height: 4.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #C1B6AD;
  border-radius: 10rem;
  padding: 0.8rem 1.6rem 0.8rem 0.8rem;
}
.btn__additive p {
  font-weight: 600;
}

.btn__additive:nth-child(2) {
  width: 14rem;
  margin: 0 0.8rem 0 0.8rem;
}

.additive {
  width: 3rem;
  height: 3rem;
  border-radius: 10rem;
  background-color: #C1B6AD;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.modal__warning {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 5rem;
  width: 100%;
}

.warning__border {
  border: 1px solid #C1B6AD;
  width: 100%;
}

.warning__desk {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.warning__desk h4 {
  font-size: 1rem;
}

.warning__photo {
  height: 13px;
  width: 13px;
  margin-right: 0.8rem;
}

.modal__btn {
  width: 100%;
  height: 4.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #665F55;
  border-radius: 10rem;
}

.footer {
  margin: 0 3.8% 4rem 3.8%;
}
.footer h2 {
  color: #E1D4C9;
}
.footer h4 {
  color: #E1D4C9;
}
.footer p {
  color: #E1D4C9;
}

.footer__body {
  background-color: #665F55;
  border-radius: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 45rem;
}

.footer__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.footer__wrapper__info {
  width: 60%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.footer__btns {
  width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__btn {
  border: 1px solid #C1B6AD;
  border-radius: 10rem;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 1s ease;
}
.footer__btn svg {
  color: #E1D4C9;
}

.footer__btn:hover {
  background-color: #E1D4C9;
}
.footer__btn:hover svg {
  color: #403F3D;
}

.footer__wrapper__contacts {
  height: 18.6rem;
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.contact__title {
  display: flex;
  justify-content: start;
  align-items: center;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 26.2rem;
  height: 11.6rem;
}
.contacts p {
  margin: 0 0 0 0.8rem;
}

.contact {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  transition: all 0.5s ease;
  cursor: pointer;
}

.border {
  border: 1px solid #E1D4C9;
  pointer-events: none;
}

.border__tag {
  position: absolute;
  width: 17.3rem;
  transform: translateX(2px) translateY(4px);
  opacity: 0;
  transition: all 0.5s ease;
}

.contact:hover .border__tag {
  transform: translateX(2px) translateY(15px);
  opacity: 1;
  pointer-events: auto;
}

.border__phone {
  position: absolute;
  transform: translateX(2px) translateY(4px);
  width: 16.7rem;
  opacity: 0;
  transition: all 0.5s ease;
}

.contact:hover .border__phone {
  transform: translateX(2px) translateY(15px);
  opacity: 1;
  pointer-events: auto;
}

.border__clock {
  position: absolute;
  transform: translateX(2px) translateY(4px);
  width: 25.9rem;
  opacity: 0;
  transition: all 0.5s ease;
}

.contact:hover .border__clock {
  transform: translateX(2px) translateY(15px);
  opacity: 1;
  pointer-events: auto;
}

@media (hover: none) {
  .photo {
    transform: scale(1.1) !important;
  }
  .contact:hover {
    cursor: default;
  }
  .contact:hover .border__tag,
  .contact:hover .border__phone,
  .contact:hover .border__clock {
    transform: translateX(2px) translateY(4px);
    opacity: 0;
    pointer-events: none !important;
  }
  .footer__btn:hover {
    background-color: #665F55 !important;
  }
  .footer__btn:hover svg {
    color: #E1D4C9 !important;
  }
}
@media (max-width: 787px) {
  h1 {
    font-size: 52px;
  }
}
@media (max-width: 697px) {
  h1 {
    font-size: 52px;
  }
}
@media (max-width: 675px) {
  h2 {
    font-size: 50px;
  }
}
@media (max-width: 655px) {
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 42px;
  }
}
@media (max-width: 450px) {
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 32px;
  }
}
@media (max-width: 380px) {
  h1 {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .header nav {
    display: none;
  }
  .header .coffee__menu {
    display: none;
  }
  .header .coffee__menu__phone {
    width: 44px;
    height: 44px;
    border: 1px solid #665F55;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 380px) {
  .header {
    margin: 20px 16px;
  }
}
@media (max-width: 895px) {
  .menu__title {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .menu__btns {
    gap: 8px;
  }
}
@media (max-width: 1300px) {
  .footer__body {
    max-width: 1230px;
  }
}
@media (max-width: 890px) {
  .footer__body {
    height: 736px;
  }
  .footer__wrapper {
    flex-direction: column;
    height: 70%;
  }
  .footer__wrapper__info {
    width: 80%;
    height: 47%;
  }
  .footer__wrapper__contacts {
    width: 80%;
  }
}
@media (max-width: 645px) {
  .footer__body {
    height: 700px;
  }
}
@media (max-width: 515px) {
  .footer__wrapper__info {
    height: 40%;
  }
}
@media (max-width: 380px) {
  .footer {
    margin: 0 16px 40px 16px;
  }
}/*# sourceMappingURL=menu.css.map */